/* Define uma fonte padrão e cor de fundo para toda a página */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------- */
/* ESTILOS DO LAYOUT                                                         */
/* -------------------------------------------------------------------------- */

header {
    background-color: #f0eadf;
    align-items: center;
    justify-content: space-between;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 10%;
    margin-left: 30px;
}

#lista-menu{
    margin-left: -50px;
    display: flex;
    list-style: none;
    gap:60px;
}

.item_menu a{
    text-decoration: none;
    font-weight: 600;
    font-size: 130%;
}

.item_menu.active{
    border-bottom: 3px solid #a88aed;
}

#botao-padrao{
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a88aed;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0,0,00.1);
    cursor: pointer;
    margin-right: 60px;
}

#botao-padrao:hover
{
    padding: 15px 21px;
}

main {
    padding: 2rem;
    align-items: center;
}

#home{
    display: flex;
    min-height: calc(100hv - 167px);
}

#cta{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}


/* -------------------------------------------------------------------------- */
/* ESTILOS DE CONTEÚDO                                                       */
/* -------------------------------------------------------------------------- */


h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-style: normal;
    color: #2980b9;
}

p {
    margin-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */
/* ESTILOS DE BOTÕES E INTERATIVIDADE                                        */
/* -------------------------------------------------------------------------- */

.btn-motivacao {
    display: inline-block;
    background-color: #27ae60;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-motivacao:hover {
    background-color: #219150;
}
/* -------------------------------------------------------------------------- */

#mensagem {
            margin-top: 1.5rem;
            font-size: 1.25rem;
            font-weight: bold;
}

#sobre-nos {
    padding: 1rem;
    margin-top: 25rem;
    background-color: #f4f4f9;
}

#banner img {
    width: 300px;
    height: auto;
    display: block;
}